@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgba(243, 244, 246, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #9333ea, #ec4899);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(to bottom, #a855f7, #f472b6);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.6);
}